extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    a.btn.btn-secondary(href='/') Inicio
    a.btn.btn-primary(href='/productos/nuevo') Nuevo Producto

  h2.mb-3 Gestión de Productos

  if productos.length
    table.table.table-bordered.table-striped
      thead
        tr
          th ID
          th Nombre
          th Proveedor
          th Costo
          th Unidad
          th Categoría
          th Precio Venta
          th Stock
          th Stock Min
          th Acciones
      tbody
        each p in productos
          tr
            td= p._id
            td= p.nombre
            td= p.proveedor
            td $#{p.costo_unitario ? p.costo_unitario.toFixed(2) : '0.00'}
            td= p.unidad_venta
            td= p.categoria
            td $#{p.precio_venta ? p.precio_venta.toFixed(2) : '0.00'}
            td= p.stock_actual
            td= p.stock_minimo
            td
              a.btn.btn-sm.btn-warning(href=`/productos/editar/${p._id}`)
                i.fas.fa-edit
              button.btn.btn-sm.btn-danger.ms-2(onclick=`if(confirm('¿Seguro que querés eliminar este producto?')) window.location='/productos/eliminar/${p._id}'`)
                i.fas.fa-trash
  else
    p No hay productos cargados.










