extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h2 Listado de Compras
    a.btn.btn-nuevo(href="/compras/nuevo")
      i.bi.bi-plus-lg
      | Nueva Compra

  if compras.length
    table.table.table-striped.table-bordered
      thead
        tr
          th Producto
          th Cantidad
          th Precio Unitario
          th Proveedor
          th Fecha
          th Acciones
      tbody
        each compra in compras
          tr
            //- Protegemos compra.producto en caso de que sea null
            td= compra.producto ? compra.producto.nombre : 'Sin producto'
            td= compra.cantidad
            td $#{compra.precioUnitario.toFixed(2)}
            td= compra.proveedor
            td= compra.createdAt.toLocaleDateString()
            td
              a.btn.btn-acciones.editar(href=`/compras/editar/${compra._id}`)
                i.bi.bi-pencil-fill
              a.btn.btn-acciones.eliminar.ms-2(href=`/compras/eliminar/${compra._id}`)
                i.bi.bi-trash-fill
  else
    p.text-center.mt-4 No hay compras registradas.


