extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h2 Compras
    a.btn.btn-nuevo(href="/compras/nuevo")
      i.bi.bi-plus-lg
      |  Nueva Compra

  if compras.length
    table.table.table-striped.table-bordered
      thead
        tr
          th Producto
          th Cantidad
          th Precio Unitario
          th Proveedor
          th Fecha
          th Acciones
      tbody
        each compra in compras
          tr
            td= compra.producto ? compra.producto.nombre : 'Producto eliminado'
            td= compra.cantidad
            td $#{compra.precioUnitario.toFixed(2)}
            td= compra.proveedor
            td= compra.createdAt.toLocaleDateString('es-AR')
            td
              a.btn.btn-acciones.eliminar(href=`/compras/eliminar/${compra._id}`)
                i.bi.bi-trash-fill
  else
    p.text-center.mt-4 No hay compras registradas.
