extends ../layout.pug

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h2 Listado de Clientes
    a.btn.btn-nuevo(href="/clientes/nuevo")
      i.bi.bi-plus-lg
      | Nuevo Cliente

  if mensajeExito
    .alert.alert-success(role="alert")= mensajeExito
  if mensajeError
    .alert.alert-danger(role="alert")= mensajeError

  if clientes.length
    table.table.table-striped.table-bordered
      thead
        tr
          th DNI
          th Nombre
          th Apellido
          th Email
          th Teléfono
          th Dirección
          th Mascotas
          th Acciones
      tbody
        each cliente in clientes
          tr
            td= cliente.dniCliente
            td= cliente.nombre
            td= cliente.apellido
            td= cliente.email
            td= cliente.telefono
            td= cliente.direccion
            td
              if cliente.mascotas && cliente.mascotas.length
                each mascota in cliente.mascotas
                  span.badge.bg-info.text-dark.m-1= mascota.nombre
              else
                span.text-muted Sin mascotas
            td
              a.btn.btn-acciones.editar(href=`/clientes/editar/${cliente._id}`)
                i.bi.bi-pencil-fill
              button.btn.btn-acciones.eliminar(
                type="button"
                data-bs-toggle="modal"
                data-bs-target=`#confirmDeleteModal-${cliente._id}`
              )
                i.bi.bi-trash-fill

              // Modal de confirmación
              .modal.fade(id=`confirmDeleteModal-${cliente._id}` tabindex="-1" aria-hidden="true")
                .modal-dialog
                  .modal-content
                    .modal-header
                      h5.modal-title Confirmar eliminación
                      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                      p ¿Estás seguro de que deseas eliminar al cliente #{cliente.nombre} #{cliente.apellido}?
                    .modal-footer
                      button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
                      a.btn.btn-danger(href=`/clientes/eliminar/${cliente._id}`) Eliminar

  else
    p.text-center.mt-4 No hay clientes registrados.


