extends ../layout.pug

block content
  h1 #{titulo}

  form(action=`/clientes/editar/${cliente._id}` method="POST")
    .mb-3
      label.form-label(for="nombre") Nombre
      input.form-control(type="text" name="nombre" required value=cliente.nombre)
    .mb-3
      label.form-label(for="apellido") Apellido
      input.form-control(type="text" name="apellido" required value=cliente.apellido)
    .mb-3
      label.form-label(for="email") Email
      input.form-control(type="email" name="email" required value=cliente.email)
    .mb-3
      label.form-label(for="telefono") Teléfono
      input.form-control(type="text" name="telefono" required value=cliente.telefono)
    .mb-3
      label.form-label(for="direccion") Dirección
      input.form-control(type="text" name="direccion" required value=cliente.direccion)
    
    // Botones
    button.btn.btn-nuevo(type="submit") Guardar Cambios
    a.btn.btn-acciones.eliminar(href="/clientes") Cancelar

// Estilos en el layout.pug
style.
  .btn-nuevo {
    background-color: #762051;
    border-color: #762051;
    color: #fff;
    margin-right: 10px;
  }
  .btn-acciones.eliminar {
    background-color: #9A4475;
    border-color: #9A4475;
    color: #fff;
  }
  .btn-acciones.eliminar:hover,
  .btn-nuevo:hover {
    opacity: 0.85;
  }

